.about {
  padding-top: 41px;
  padding-bottom: 40px;
  padding-right: 0;
  padding-left: 0;

  .about__title {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    min-height: 693px;
  }
}

.about__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 355px 1fr;
    column-gap: 145px;
    text-align: left;
  }
}

.about__image-content {
  position: relative;
}

.about__title {
  @include main-title;

  margin-bottom: 12px;
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }
}

.about__text {
  margin: 0;
}

.about__info {
  padding-right: 15px;
  padding-left: 15px;

  p:last-child {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    p:last-child {
      display: block;
    }
  }
}

.about__image {
  margin-top: 35px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.about__video {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
    position: absolute;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%);

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    bottom: -104px;
    left: 10%;
  }
}

.about__video-button {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border: none;
  display: block;
  width: 72px;
  height: 72px;
  background-color: transparent;
  background-image: url("../../img/player-button.png");
  cursor: pointer;
}
