.about {
  padding-top: 41px;
  padding-bottom: 35px;
  padding-right: 0;
  padding-left: 0;

  .about__title {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    min-height: 752px;
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 103px;
    padding-left: 103px;
    padding-top: 120px;
    min-height: 760px;
  }
}

.about__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 355px 1fr;
    column-gap: 145px;
    text-align: left;

    p:nth-of-type(2) {
      margin-bottom: -8px;
    }
  }
}

.about__image-content {
  position: relative;
  align-self: start;
}

.about__title {
  @include main-title;

  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 78px;
  }
}

.about__text {
  margin: 0;
}

.about__info {
  padding-right: 15px;
  padding-left: 15px;

  p:last-child {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-right: 135px;
    padding-left: 135px;

    p:nth-of-type(2) {
      br {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;

    p:last-child {
      display: block;
    }
  }
}

.about__image {
  margin-top: 35px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.about__video {
  position: relative;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    bottom: -120px;
    left: 12%;
  }
}

.about__video-button {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  border: none;
  display: block;
  width: 72px;
  height: 72px;
  background-color: transparent;
  background-image: url("../__spritemap#sprite-player-button-view");
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover:not(:disabled):not(.about__video-button--disabled):not(:focus-visible):not(:active) {
    background-image: url("../__spritemap#sprite-player-button-hover-view");
  }

  &:focus {
    background-image: url("../__spritemap#sprite-player-button-focus-view");
  }

  &:active {
    background-image: url("../__spritemap#sprite-player-button-active-view");
  }

  &:disabled {
    background-image: url("../__spritemap#sprite-player-button-disabled-view");
    pointer-events: none;
  }
}
