.accordion {
  @include list-style-none;
}

.accordion__item {
  border-bottom: 1px solid #74819c;

  &:first-child {
    border-top: 1px solid #74819c;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #102654;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #102654;
    padding-bottom: 20px;
    padding-right: 36px;

    @media (min-width: $tablet-width) {
      padding-right: 122px;
      line-height: 133%;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 200px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.accordion__item:first-child h3 {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.accordion__header {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 22px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 40px;
    padding-top: 25.1px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.accordion__item:first-child .accordion__header {
  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    padding-bottom: 24px;
  }
}

.accordion__item:not(:first-child) .accordion__header {
  @media (min-width: $tablet-width) {
    padding-top: 21.2px;
    padding-bottom: 21.5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20.2px;
  }
}

.accordion__item:nth-child(3) .accordion__header {
  @media (min-width: $tablet-width) {
    padding-top: 20.5px;
    padding-bottom: 21.3px;
  }
}

.accordion__item:nth-child(4) .accordion__header {
  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.accordion__button {
  background-image: url("../__spritemap#sprite-accordion-button-close-view");
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-top: -1px;
  }
}

.accordion__item--active .accordion__button {
  background-image: url("../__spritemap#sprite-accordion-button-open-view");
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  &--active {
    max-height: 200px;
  }

  br:nth-child(1) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br:nth-child(2) {
      display: none;
    }

    br:nth-child(3) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br:nth-child(1) {
      display: block;
    }

    br:nth-child(3) {
      display: none;
    }
  }
}
