.accordion {
  @include list-style-none;
}

.accordion__item {
  border-bottom: 1px solid #74819c;

  &:first-child {
    border-top: 1px solid #74819c;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #102654;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #102654;
    padding-bottom: 20px;
    padding-right: 36px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }
}

.accordion__item:first-child h3 {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.accordion__header {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 22px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 30px;
}

.accordion__button {
  background-image: url("../__spritemap#sprite-accordion-button-close-view");
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.accordion__item--active .accordion__button {
  background-image: url("../__spritemap#sprite-accordion-button-open-view");
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  &--active {
    max-height: 200px;
  }
}
