.accordion {
  @include list-style-none;
}

.accordion__item {
  border-bottom: 1px solid #74819c;

  &:first-child {
    border-top: 1px solid #74819c;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #102654;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 22px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #102654;
    padding-bottom: 20px;
    padding-right: 36px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
  }
}

.accordion__item:first-child h3 {
  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.accordion__header {
  padding-right: 45px;
  padding-bottom: 21px;
  padding-top: 18px;
  background-image: url("../../img/sprite/accordion-button-close.svg");

  // background-image: url("../__spritemap#sprite-accordion-button-close-view");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 30px;

  &--active {
    background-image: url("../../img/sprite/accordion-button-open.svg");
  }
}
