.button-more.button--disabled {
  outline: none;
}

.button-more {
  width: fit-content;
  position: relative;
  padding: 10px;
  border: 1px solid transparent;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 10px;
    right: 10px;
    bottom: 5px;
    height: 1px;
    background-color: currentColor;
  }

  &:hover:not(:disabled):not(.button-more--disabled):not(:focus-visible):not(:active) {
    opacity: 0.8;
  }

  &:focus:not(.button-more--disabled):not(:active) {
    opacity: 1;
    outline: none;
    background-color: transparent;
    border: 1px solid currentColor;

    &::after {
      display: none;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 1;
    border: none;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &:focus {
      opacity: 0.5;
      pointer-events: none;
      border: none;
    }
  }
}
