.card-jury {
  position: relative;
  width: 260px;
  height: 300px;
  margin: 0 auto;
}

.card-jury__title {
  position: absolute;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
