.card-jury {
  position: relative;
  width: 260px;
  min-height: 300px;
  margin: 0 auto;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    object-fit: fill;
  }
}

.card-jury__title {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  bottom: 2px;
  left: 0;
  right: 0;
}

// .card-jury__image {
//   width: 260px;
//   margin: 0 auto;
// }

.card-jury__information {
  padding: 48px 38px;
  padding-bottom: 39px;
  background-color: rgba(16, 38, 84, 0.89);
  color: #ffffff;
  opacity: 0;
  transition: 0.3s;
}

.card-jury__information-title {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
}

.card-jury__information-add {
  text-align: center;
  display: block;
  margin-bottom: 35px;
}

.card-jury__information-list {
  margin: 0;
  padding-left: 28px;
}

.card-jury__information-item {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
}

.card-jury:hover .card-jury__information,
.card-jury:focus .card-jury__information {
  opacity: 1;
  transition: 0.3s;
}

.card-jury:hover,
.card-jury:focus {
  box-shadow: 0 0 35px 0 rgba(42, 59, 99, 0.17);
}

.card-jury:hover .card-jury__title,
.card-jury:focus .card-jury__title {
  display: none;
}
