.card-price {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 42px;
}

.card-price__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

.card-price__duration {
  margin: 0;
}

.card-price__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  margin: 0;
}
