.card-price {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 20px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 65px;
  }
}

.card-price__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }
}

.card-price__duration {
  margin: 0;
  margin-bottom: 64px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }
}

.card-price__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  margin: 0;
  color: #103aae;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 19px;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 33px;
    background-image: url("../../__spritemap#sprite-ruble-view");

    @media (min-width: $tablet-width) {
      width: 34px;
      height: 40px;
    }
  }

  &::before {
    content: attr(data-price);
    font-weight: 700;
    font-size: 80px;
    line-height: 150%;
    text-align: center;
    color: #e8e8e8;
    position: absolute;
    z-index: -1;
    top: -47px;
    opacity: 0.48;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    gap: 14px;
    margin-bottom: 22px;

    &::before {
      font-size: 100px;
      top: -61px;
    }
  }
}

.card-price__button {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 206px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 250px;
  }
}
