.contacts {
  padding-top: 40px;
  padding-bottom: 37px;
}

.contacts__content {
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;
}

.contacts__title {
  @include main-title;

  text-align: left;
  margin-bottom: 36px;
}

.contacts__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #102654;
  margin: 0;
  margin-bottom: 13px;
}

.contacts__item-text {
  font-size: 14px;
  line-height: 143%;
  color: #102654;
  text-decoration: none;
  margin: 0;
}
