.contacts {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 56px;
  }
}

.contacts__content {
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    width: 440px;
    margin: 0 auto;
    position: relative;
    row-gap: 11px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #74819c;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__title {
  @include main-title;

  text-align: left;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

.contacts .contacts__title {
  @media (min-width: $tablet-width) {
    font-size: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__item {
  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      grid-column: 1;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(4) {
      grid-column: 2;
    }
  }
}

.contacts__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #102654;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 7px;
  }
}

.contacts__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #102654;
  text-decoration: none;
  margin: 0;
}
