.faq {
  padding-top: 71px;
  padding-bottom: 70px;
  background-color: #f8f9fc;
}

.faq__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 40px;
  }
}

.faq__title {
  @include main-title;

  margin-bottom: 34px;
}

.faq__group-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
  }
}

.faq__button {
  border: 1px solid rgba(16, 38, 84, 0.2);
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #102654;
  background: none;
  padding: 14px 22px;
  box-sizing: border-box;
  cursor: pointer;

  &--active {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    min-height: 54px;
  }
}
