.faq {
  padding-top: 71px;
  padding-bottom: 70px;
  background-color: #f8f9fc;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.faq__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 40px;
  }
}

.faq__tab-content {
  border-top: 1px solid #74819c;
}

.faq__title {
  @include main-title;

  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 49px;
  }
}

.faq__group-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    margin-top: 2px;
  }
}

.faq__button {
  border: 1px solid rgba(16, 38, 84, 0.2);
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #102654;
  background: none;
  padding: 14px 22px;
  box-sizing: border-box;
  cursor: pointer;

  &--active {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: #ffffff;
  }

  &:hover:not(:disabled):not(.button-more--disabled):not(:focus-visible):not(:active) {
    border: 1px solid #102654;
  }

  &:focus:not(:disabled):not(.button-more--disabled):not(:active) {
    outline: none;
    border: 1px solid #102654;
  }

  &:active {
    outline: none;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: #ffffff;
  }

  &:disabled {
    color: #c8c9cc;
    border: 1px solid rgba(16, 38, 84, 0.2);
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 17px 22px;
  }

  @media (min-width: $desktop-width) {
    min-height: 54px;
    padding-top: 19px;
    padding-bottom: 15px;
  }
}
