.form {
  padding-right: 0;
  padding-left: 0;

  form {
    @media (min-width: $tablet-width) {
      width: 440px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    // border-top: 1px solid #74819c;
  }
}

.form__content {
  background-color: $main-color;
  padding-top: 71px;
  padding-bottom: 70px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.form__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  font-family: $secondary-font;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form__group-input {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__item {
  @media (min-width: $tablet-width) {
    width: 205px;
  }

  @media (min-width: $desktop-width) {
    width: 223px;
  }
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  height: 31px;
  padding-left: 0;
  margin-bottom: 32px;

  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    color: #ffffff;
    opacity: 0.4;

    @media (min-width: $tablet-width) {
      font-weight: 400;
    }
  }

  @media (min-width: $desktop-width) {
    height: 33px;
  }
}

.form__button {
  width: 100%;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    min-height: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2.4px;
    padding-top: 3px;
    min-height: 66.2px;
  }
}
