.games {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 300px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 500px 1fr;
  }
}

.games__content {
  color: #ffffff;
  background-color: #ed0233;
  padding: 40px;
  padding-bottom: 35px;

  @media (min-width: $desktop-width) {
    padding: 60px 80px 98px;
    display: flex;
    flex-direction: column;
  }
}

.games__button {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    min-height: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.games__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 57px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    gap: 19px;
    margin-bottom: -3px;
  }

  @media (min-width: $desktop-width) {
    gap: 79px;
    margin-bottom: 24px;
  }
}

.games__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
  margin: 0;
  font-family: $secondary-font;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 117%;
  }
}

.games__date-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
    padding-bottom: 1px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.games__date-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-top: -3px;
  }
}

.games__date-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  column-gap: 3px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;

  span:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    grid-row: span 2;
    max-width: 41px;
    display: block;
    overflow-wrap: break-word;
  }

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }

  @media (min-width: $tablet-width) {
    column-gap: 6px;
    row-gap: 8px;

    span {
      font-size: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    span:first-child {
      font-size: 40px;
    }
  }
}

.games__description {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.games__date-item {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.games__image {
  height: 100%;
  object-fit: cover;
}
