.jury {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.jury__title {
  @include main-title;

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin-bottom: 46px;
  }
}

.jury__slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 100%;
  }
}

.jury__button {
  top: 50%;

  &--next {
    right: -36px;
  }

  &--prev {
    left: -36px;
  }

  @media (min-width: $tablet-width) {
    &--next {
      right: -70px;
    }

    &--prev {
      left: -70px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 49%;

    &--next {
      right: -70px;
    }

    &--prev {
      left: -71px;
    }
  }
}
