.jury {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 99px;
  }
}

.jury__title {
  @include main-title;

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin-bottom: 46px;
  }
}

.jury__slider {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.jury__button {
  background-color: #102654;
  border: none;
  width: 17px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  display: none;

  &--next {
    mask-image: url("../__spritemap#sprite-slider-arrow-right-view");
    right: -36px;
  }

  &--prev {
    mask-image: url("../__spritemap#sprite-slider-arrow-left-view");
    left: -36px;
  }

  @media (min-width: $tablet-width) {
    display: block;

    &--next {
      right: 6px;
    }

    &--prev {
      left: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 49%;

    &--next {
      right: -55px;
    }

    &--prev {
      left: -53px;
    }
  }
}
