.jury {
  padding-top: 41px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.jury__title {
  @include main-title;

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin-bottom: 46px;
  }
}

.jury__slider {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.jury__button {
  top: 50%;

  &--next {
    right: -36px;
  }

  &--prev {
    left: -36px;
  }

  @media (min-width: $tablet-width) {
    &--next {
      right: -11px;
    }

    &--prev {
      left: -12px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 49%;

    &--next {
      right: -55px;
    }

    &--prev {
      left: -53px;
    }
  }
}
