.main-header {
  padding-top: 16px;
  padding-bottom: 32px;
  color: #ffffff;
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.main-header__tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
  }
}

.main-header__logo {
  svg {
    display: block;
  }
}
