.offers {
  padding-top: 41px;
  padding-bottom: 40px;
  padding-right: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 60px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

.offers__title {
  @include main-title;

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.offers__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  border-bottom: 1px solid currentColor;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 4px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: auto auto 0 0;
  }
}

.offers__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: $tablet-width) {
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 560px 1fr;
  }
}

.offers__content {
  background-color: #ed0233;
  text-align: center;
  color: #ffffff;
  padding: 30px;
  padding-top: 32px;

  span {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;

    @media (min-width: $tablet-width) {
      font-size: 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 40px 25px;
  }
}

.offers__content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin-top: 5px;
  margin-bottom: 28px;

  span {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;

    @media (min-width: $tablet-width) {
      font-size: 70px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 21px;
  }
}

.offers__list {
  @include list-style-none;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    padding-top: 82px;
  }
}

.offers__item-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  color: $secondary-color;
  text-decoration: none;
  position: relative;
  width: fit-content;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: currentColor;
  }

  @media (min-width: $tablet-width) {
    margin: auto auto 0 0;
  }
}

.offers__item {
  border: 7px solid transparent;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  border-image-slice: 7;
  color: $secondary-color;
  text-align: center;
  padding: 20px 36px 25px;

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      font-size: 26px;
      margin-bottom: 9px;
    }
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    margin: 0;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 23px;
    width: 270px;
    min-height: 131px;
  }
}

.offers__banner {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 278px 1fr;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 460px;
  }
}
