.reviews__title {
  @include main-title;

  margin-bottom: 39px;
}

.reviews {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
    padding-bottom: 66px;
  }
}

.reviews__slider {
  margin: 0 auto;

  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 36px;
  }
}

.reviews .reviews__title {
  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.reviews__button {
  background-color: #102654;
  border: none;
  width: 17px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  display: none;

  &--next {
    mask-image: url("../__spritemap#sprite-slider-arrow-right-view");
    right: -36px;
  }

  &--prev {
    mask-image: url("../__spritemap#sprite-slider-arrow-left-view");
    left: -36px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    top: 40%;

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    top: 44%;

    &--next {
      right: 195px;
    }

    &--prev {
      left: 195px;
    }
  }
}
