.reviews__title {
  @include main-title;

  margin-bottom: 38px;
}

.reviews {
  padding-top: 40px;
}

.reviews__slider {
  margin-bottom: 41px;
}

.reviews .reviews__title {
  @media (min-width: $tablet-width) {
    font-size: 54px;
  }
}
