.slider-reviews__image {
  width: 68px;
  height: 68px;
  margin: 0 auto;
  margin-bottom: 13px;
}

.slider-reviews__item {
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background-color: #1c3374;
  padding: 29px 25px 13px;
  width: 239px;
  box-sizing: border-box;
  margin: 0 auto;

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    margin: 0;
    margin-bottom: 16px;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
  }
}
