.social {
  @include list-style-none;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
    margin-left: 168px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;

  &:hover:not(:disabled):not(.social__link--disabled):not(:focus-visible):not(:active) {
    background-color: #74819c;
    fill: #ffffff;
  }

  &:active {
    background-color: #102654;
    fill: #ffffff;
  }

  &:focus:not(:disabled):not(.social__link--disabled):not(:active) {
    background-color: #103aae;
    fill: #ffffff;
  }

  &:disabled {
    background-color: #cccfd6;
    fill: #030a1a;
  }

  &--disabled {
    background-color: #cccfd6;
    fill: #030a1a;
    pointer-events: none;
  }
}

.social__link--vk {
  svg {
    margin-top: 2px;
    width: 20px;
    height: 15px;
  }
}

.social__link--ok {
  svg {
    width: 14px;
    height: 17px;
    margin-left: 1px;
  }
}

.social__link--reddit {
  svg {
    width: 15px;
    height: 16px;
  }
}
