.social {
  @include list-style-none;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 16px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}
