.container-page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  &--padding-null {
    padding-right: 0;
    padding-left: 0;

    @media (min-width: $tablet-width) {
      padding-right: revert;
      padding-left: revert;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}
